<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinematiks</title>
    <link rel="stylesheet" href="{% static 'index.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h2>Cinematiks</h2>
        <ul class="menu_navbar">
          <li class="item_menu">Filmes</li>
          <li class="item_menu">Restaurante</li>
          <li class="item_menu">Salas</li>
          <li class="item_menu">Login</li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="parallax">
        <div class="texto_parallax">
          <h2>Cinematiks</h2>
          <p>O cinema pica</p>
        </div>
        <div class="imagens_parallax">
          <img src="#" alt="" />
          <img src="#" alt="" />
          <img src="#" alt="" />
          <img src="#" alt="" />
        </div>
      </div>
      <div class="catalogo">
        <ul class="filmes">
          <li class="filme"></li>
          <li class="filme"></li>
          <li class="filme"></li>
          <li class="filme"></li>
          <li class="filme"></li>
        </ul>
      </div>
      <div class="info">
        <div class="texto_info">
          <h2>Jimo é bom</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
            numquam optio deserunt atque fugiat placeat ut pariatur
            reprehenderit perferendis sit quia neque corporis aliquid, delectus,
            suscipit ducimus fuga quis autem?
          </p>
        </div>
        <div class="imagem_info"></div>
      </div>
      <div class="slider">
        <div class="slide_restaurante"></div>
        <div class="slide_salas"></div>
        <div class="slide_filmes"></div>
      </div>
      <div class="info">
        <div class="texto_info">
          <h2>Jimo é bom</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
            numquam optio deserunt atque fugiat placeat ut pariatur
            reprehenderit perferendis sit quia neque corporis aliquid, delectus,
            suscipit ducimus fuga quis autem?
          </p>
        </div>
        <div class="imagem_info"></div>
      </div>
    </main>
    <footer>
      <div class="endereco">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
        laborum. Aut at voluptatem neque facilis deleniti ullam earum vitae,
        quisquam nisi alias aliquid provident aspernatur nemo fugit repudiandae
        rem reprehenderit.
      </div>
      <div class="horario">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto quis,
        amet distinctio quod, excepturi iure nihil asperiores hic deserunt
        quibusdam eaque odit minima ipsa aliquam cupiditate quos fugiat impedit
        nesciunt?
      </div>
      <div class="contato">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit aut
        ratione dolore tempore nisi accusamus animi inventore soluta rem velit
        omnis praesentium provident mollitia, neque repellendus voluptas debitis
        facere quae.
      </div>
    </footer>
    <script src="./script.js"></script>
  </body>
</html>
